<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Environment</key>
	<string>Production</string>
	<key>CLIENT_ID</key>
	<string>902821030712-m39sbdkirufquh5stohj0furk7kfskk9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902821030712-m39sbdkirufquh5stohj0furk7kfskk9</string>
	<key>API_KEY</key>
	<string>AIzaSyCgVU-wqGIR2sV4lke-oi39IFGWvO-b_uM</string>
	<key>GCM_SENDER_ID</key>
	<string>902821030712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slydelife.Slyde</string>
	<key>PROJECT_ID</key>
	<string>slydeapp-dc745</string>
	<key>STORAGE_BUCKET</key>
	<string>slydeapp-dc745.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:902821030712:ios:4ef479b92e17c04147efcd</string>
	<key>DATABASE_URL</key>
	<string>https://slydeapp-dc745.firebaseio.com</string>
</dict>
</plist>
